
body {
    font-family: Arial, Helvetica;
    color: #161617;
}
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.top-container {
    border-radius: 15px;
    width:70%;
    background: #E5BCD2;
}

.div-ui {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.input {
    width: 30rem;
    border-radius: 7px;
    padding: 15px;
    margin-right: 3.5rem;
    font-size: 18px;
}

.bottom-container {
    border-radius: 15px;
    overflow: hidden;
    margin-top: 1.8rem;
    width:70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.bottom-container > div {
    /* background: gray; */
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;
    
}

spam {
    font-size: 1rem;
    margin-top:10px;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.5rem;
    margin: 18px 0 24px 0;
}

button {
    border: none;
    border-radius:7px;
    font-size:1.2rem;
    text-align: center;
    cursor: pointer;
    padding: 1rem;
    margin-left: 1.6rem;
    width: 10%;

}

.button-generate {
    background-color: greenyellow;
}

.button-stop {
    background-color: red;
}

