
body {
    font-family: Arial, Helvetica;
    color: #161617;
}
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
}

.top-container {
    border-radius: 15px;
    min-width: 800px;
    background: #E5BCD2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-ui {
    display: flex;
    justify-content: space-between;
    height: 2.5rem;
}

.input {
    width: 20rem;
    border-radius: 7px;
    text-indent: 15px;
    font-size: 1rem;
    margin-right: 2rem;
    border:none;
}

button:focus{
    border: none;
    outline:none;
}

input:focus{
    box-shadow: 1px 1px 20px 2px white;
    border: none;
    outline:none;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin-left: 2rem;
}

button {
    border: none;
    border-radius:7px;
    font-size:1rem;
    text-align: center;
    cursor: pointer;
    width: 7rem;
    height: 2.5rem;
}

.msg {
    display: flex;
    flex-direction: column;
}

.bottom-container {
    border-radius: 15px;
    overflow: hidden;
    margin-top: 1rem;
    min-width: 800px;
    display: flex;
    flex-direction: column;
}

.bottom-container > div {
    display: flex;
    justify-content: space-between;
    height: 6rem;
    align-items: center;
    padding: 0 5rem;
}

span {
    font-size: 1rem;
    margin-top:10px;
}

h1 {
    font-size: 2em;
}

p {
    font-size: 1.3rem;
}

.button-generate {
    background-color: greenyellow;
    margin-right: 1rem;
}

.button-stop {
    background-color: red;
}

.button-generate:active{
    box-shadow: 1px 1px 20px 2px greenyellow;
}

.button-stop:active {
    box-shadow: 1px 1px 20px 2px red;
}

